
html{

font-size:62,5%;

}

.menuPrincipal ul{
list-style-type: none;
display:flex;
justify-content: center;


font-weight: bold;
font-size: 30px;
text-align: center;
align-items: center;
flex-wrap: wrap;
 

}
.mapaNavegacion ul li {

    font-size: 20px;
}
.mapaNavegacionDiv{

    width: min-content;

}

.comprar{

background-color: crimson;
display:flex;
        flex-direction: row;
        
        color: white;

        font-size: 50px;
        padding: 14px;
        margin: 50px;
        border: 1px solid rgb(14, 13, 13);
        /**width: min-content;
        height: min-content;
        justify-content: center;**/

}
ol{

    list-style-type: circle;
    font-size: 30px;
    font-weight: bold;
}
    
.colorBlanco{
color: rgb(255, 255, 255);
border:  10px white;
}
a{

text-decoration: none;  

}

body{

background-color: black;

}

header{

background: linear-gradient(to bottom,black, rgb(58, 2, 63))



}
.logoTamaño{
/**display: block;**/
height: 150px;
width: 100px;


}
.centrar {

display: flex;
flex-direction: row;
justify-content: center;
padding: 20px;

}

.centrarTexto{
display: flex;
text-align: center;
text-justify: auto;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 20px;

}
.centrarLogo {

    display: flex;
    position: relative;
    align-items: initial;
    
    }
.menuPrincipal ul li{


display: inline-block;
padding: 20px 20px;
}
.nuevosModelos{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 100px;
font-weight: bold;
color: rgb(43, 15, 121);

}
.redesSociales {
position:fixed;
right: 0px;
bottom: 500px;

}
.redesSociales img {

display: block;
height: 50px;
width: 50px;

}
/*footer{

background-color: black;

}*/
.formulario{

display: flex;
flex-direction: column;
flex-wrap: wrap;
background-color:rgb(177, 132, 207);
margin: 20px;}
.formularioTamaño{
    display: flex;
    border: 1px solid rgb(14, 13, 13);
    width: 600px;
    flex-wrap: wrap;


}



.imagen:hover {filter: opacity(.5);}
.modelos{

height: 500px;
width: 400px;
padding: 20px;

}
.modelosPosicion{
    display: flex;

flex-direction: row;
align-items: center;
flex-wrap: wrap;
justify-content: space-evenly;

padding: 40px;


}

main{
    background-color: rgb(255, 255, 255);
 
    }

.cajaPadre{

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 0,5fr 0,2fr ;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    
    ;


/*display: flex;
flex-direction: column;
flex-wrap: wrap;
/*flex-flow: column wrap;*

align-items: stretch;*/


}


.areaEncabezado{

grid-area: "header";


}
.areaContenido{
    

    grid-area: "main";

    display: flex;
    flex-direction: column;
   align-items: center;
   
   
    
   
    
    
    }
.areaFooter{
      
       
        grid-area: "footer";
        background-color: black;
        
        
        }
 @keyframes aparecer  {

    0% {opacity: 100%;}   

    50% {opacity: 30%;}  

    100% {opacity:100%;}  

    } 
    
  .animacion  {
    height: 300px;
    width:  300px;
    animation-name: aparecer;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }  
.bordeMenu { /**border: 1px solid white;**/
    display: flex;
   
   
  display: inline-block;

}
a:hover {
    color: white;
  }

         
@media screen and (max-width:500px) {

    .cajaPadre{

        
    
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,5fr 0,2fr ;
        grid-template-areas: 
            "header"
            "main"
            "footer";

    
}

.modelosPosicion{

display: flex;
flex-direction: column;
align-items: center;

}
.areaContenido{

    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}

.nuevosModelos{
    

    font-size: 50px;
    


}
.bordeMenu { 
    display: flex;
   
  
  flex-direction: column;
  
 }

.menuPrincipal ul li{
 display: flex;
 flex-direction: column;
 font-size: 25px;
 
 
 padding: 15px 15px;

}

.animacion{

    height: 300px;
    width:  300px;

}
.modelos{

    height: 250px;
    width: 200px;
}
.formularioTamaño{

    width: 300px;
}
}