@charset "UTF-8";
/*Anide todo en el css que pude en general*/
.menuPrincipal {
  display: inline-block;
  padding: 20px 20px; }
  .menuPrincipal ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap; }
    .menuPrincipal ul li {
      display: inline-block;
      padding: 20px 20px; }
  .menuPrincipal a {
    text-decoration: none; }
    .menuPrincipal a:hover {
      color: white; }

html {
  font-size: 62,5%; }

ol {
  list-style-type: circle;
  font-size: 30px;
  font-weight: bold; }

.colorBlanco {
  color: white;
  border: 10px white; }

body {
  background-color: black; }

header {
  background: linear-gradient(to bottom, black, #3a023f); }

.logoTamaño, .modelos {
  display: flex;
  width: 100px;
  height: 150px; }

.centrar {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.centrarTexto {
  display: flex;
  text-align: center;
  text-justify: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px; }

/*.menuPrincipal  {
    
    
    display: inline-block;
    padding: 20px 20px;
     ul{
        list-style-type: none;
        
        font-style:italic;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        li{
    
    
            display: inline-block;
            padding: 20px 20px;}
    }
    a{
    
        text-decoration: none; 
        &:hover {
            color: white;
          } 
        
        }
}*/
.nuevosModelos {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #2b0f79; }

.redesSociales {
  position: fixed;
  right: 0px;
  bottom: 500px; }
  .redesSociales img {
    display: block;
    width: 50px;
    height: 50px; }

.mapaNavegacion ul li {
  font-size: 10px; }

.mapaNavegacionDiv {
  width: min-content; }

/*footer{
    
    background-color: black;
    
    }*/
.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #b184cf;
  margin: 20px; }

.formularioTamaño {
  display: flex;
  border: 1px solid #0e0d0d;
  width: 600px;
  flex-wrap: wrap; }

.modelos {
  height: 500px;
  width: 400px; }

.modelosPosicion {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px; }

.imagen:hover {
  filter: opacity(0.5); }

.modelos {
  height: 500px;
  width: 400px;
  padding: 20px; }

.comprar {
  background-color: #14dc2f;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 80px;
  padding: 14px;
  margin: 50px;
  border: 1px solid #131212; }

main {
  background-color: white; }

.cajaPadre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0,5fr 0,5fr 0,2fr;
  grid-template-areas: "header" "main" "footer";
  /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*flex-flow: column wrap;*
    
    align-items: stretch;*/ }

.areaEncabezado {
  grid-area: "header"; }

.areaContenido {
  grid-area: "main";
  display: flex;
  flex-direction: column;
  align-items: center; }

.areaFooter {
  grid-area: "footer";
  background-color: black; }

@keyframes aparecer {
  0% {
    opacity: 100%; }
  50% {
    opacity: 30%; }
  100% {
    opacity: 100%; } }

.animacion {
  height: 400px;
  width: 400px;
  animation-name: aparecer;
  animation-delay: 1s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.bordeMenu {
  /**border: 1px solid white;**/
  display: flex;
  display: inline-block; }

@media screen and (max-width: 500px) {
  .cajaPadre {
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 0,5fr 0,2fr;
    grid-template-areas: "header" "main" "footer"; }
  .modelosPosicion {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .areaContenido {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nuevosModelos {
    font-size: 50px; }
  .bordeMenu {
    display: flex;
    flex-direction: column; }
  .menuPrincipal ul li {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 15px 15px; }
  .animacion {
    height: 300px;
    width: 300px; }
  .modelos {
    height: 250px;
    width: 200px; }
  .formularioTamaño {
    width: 300px; } }
