/*Anide todo en el css que pude en general*/
@import "menuprincipal";
html{

    font-size:62,5%;
    
    }
    
$colorPincipal:black;
$colorSecundario: white;
    ol{
    
        list-style-type: circle;
        font-size: 30px;
        font-weight: bold;
    }
        
    .colorBlanco{
    color: rgb(255, 255, 255);
    border:  10px white;
    }
    
    
    body{
    
    background-color: $colorPincipal;
    
    }
    
    header{
    
    background: linear-gradient(to bottom,black, rgb(58, 2, 63))
    
    
    
    }
    .logoTamaño{
    display: flex;
    height: 150px;
    width: 100px;
    
    
    }
    .centrar {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    }
    /*.menuPrincipal  {
    
    
    display: inline-block;
    padding: 20px 20px;
     ul{
        list-style-type: none;
        
        font-style:italic;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        li{
    
    
            display: inline-block;
            padding: 20px 20px;}
    }
    a{
    
        text-decoration: none; 
        &:hover {
            color: white;
          } 
        
        }
}*/
    .nuevosModelos{
    
    font-size: 100px;
    font-weight: bold;
    
    }
    .redesSociales {
    position:fixed;
    right: 0px;
    bottom: 500px;
      img {
    
        display: block;
        height: 50px;
        width: 50px;

    
    }
    
    
    }
    /*footer{
    
    background-color: black;
    
    }*/
    .formulario{
    
    display: block;
    
    }
    .modelos{
    
    height: 500px;
    width: 400px;
    
    
    }
    .modelosPosicion{
        display: flex;
    
    flex-direction: row;
    align-items: center;
    
    
    }
    
    main{
        background-color: $colorSecundario;
     
        }
    
    .cajaPadre{
    
        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows: 0,5fr 0,5fr 0,2fr ;
        grid-template-areas: 
            "header"
            "main"
            "footer"
        
        ;
    
    
    /*display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*flex-flow: column wrap;*
    
    align-items: stretch;*/
    
    
    }
    
    
    .areaEncabezado{
    
    grid-area: "header";
    
    
    }
    .areaContenido{
        
    
        grid-area: "main";
    
        display: flex;
        flex-direction: column;
       align-items: center;
       
       
        
       
        
        
        }
    .areaFooter{
          
           
            grid-area: "footer";
            background-color:$colorPincipal;
            
            
            }
     @keyframes aparecer  {
    
        0% {opacity: 100%;}   
    
        50% {opacity: 30%;}  
    
        100% {opacity:100%;}  
    
        } 
        
      .animacion  {
        height: 400px;
        width:  400px;
        animation-name: aparecer;
        animation-delay: 1s;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }  
    
      .bordeMenu { border: 1px solid white;
        display: flex;
       
       
      display: inline-block;
    
    }
    
    
            
    @media screen and (max-width:500px) {
    
        .cajaPadre{
    
            
        
            grid-template-columns: 1fr;
            grid-template-rows: 0,5fr 0,5fr 0,2fr ;
            grid-template-areas: 
                "header"
                "main"
                "footer";
    
        
    }
    
    .modelosPosicion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .areaContenido{
    
        background-color: brown;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        
    }
    
    .nuevosModelos{
    
        font-size: 50px;
    
    
    }
    .bordeMenu { border: 1px solid white;
        display: flex;
       
      
      flex-direction: column;
      
     }
    
    .menuPrincipal ul li{
     display: flex;
     flex-direction: column;
     font-size: 25px;
     
     
     padding: 15px 15px;
    
    }
    
    .animacion{
    
        height: 300px;
        width:  300px;
    
    }
    .modelos{
    
        height: 250px;
        width: 200px;
    }
    
    }